*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    flex-direction: column;
}

.card{
    height: 200px;
    width: 200px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    grid-template-areas: "main";
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}
.card > * {
    grid-area: main;
}
.card > .image{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 300ms, filter 400ms;
}
.card > .text{
    opacity: 0;
    color: color;
    font-size: 1rem;
    transition: opacity 400ms, transform 400ms;
}

.card:is(:hover, :focus) > .image{
    transform: scale(1.1);
    filter: brightness(.4);
}
.card:is(:hover, :focus) > .text{
    transform: scale(1.2);
    opacity: 1;
}